@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  font-family: "Inter", sans-serif;
}

.start {
  position: absolute;
  top: 10vh;
  width: 60vw;
}

.header {
  flex: 1;
  display: inline-flex;
  width: 100%;
}

.followButton {
  display: flex;
  margin-left: auto;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #F8F8F8;
  height: fit-content;
}

  .followButton:hover {
    background: #F0F0F0;
  }

.backButton {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  position: absolute;
  top: 15px;
}

.backIcon {
  width: 30px;
  height: 30px;
}

.backName {
  color: rgba(0, 0, 0, 0.40);
}

.left-side {
  flex: 1;
  border-radius: 25px;
  background-image: url('https://picsum.photos/seed/batfgwfgajbkionvfbhuhorttfdeajoy/1920/1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right-side {
  flex: 2;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.80);
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.80);
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.content-section {
  background: red;
}
